.tabsNav {
  width: 100%;
  ul {
    padding: 20px;
    display: flex;
    column-gap: 20px;
    li {
      list-style: none;
      a {
        color: #000;
        font-size: 19px;
        text-decoration: none;
      }
    }
  }
}
